@page "/orcamentos"

<div class="row">
    <section class="col-2 border">
        <span>Cliente</span> <span>Michael</span>
        <span>Placa</span> <span>BOO-5042</span>
        <span>Chassi</span> <span>KNHG1312312asas</span>
        <span>DataCriação</span> <span>15/05/22</span>
    </section>

    <section class="col-8 border">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Produto</th>
                    <th>Marca</th>
                    <th>PrecoCusto</th>
                    <th>PrecoVenda</th>
                    <th>
                        <button>Adicionar Produto</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MONROE-D0305</td>
                    <td>Amortecedor Dianteiro</td>
                    <td>MONROE</td>
                    <td>155.00</td>
                    <td>309.98</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="col-1 border">
        <span>Produtos</span>
        <span>Desconto</span>
        <span>Frete</span>
        <span>Total</span>
    </section>
</div>